body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

body{
  background-color:grey;
}

.bg-img {
  background-image: url("bg3.jpg");
  background-color: black;

  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.centerheading{
  position: absolute;
  font-size:"60px";
  text-align: center;
  font-weight:bold;
  top: 30%;
  left: 50%;
  padding:10px;
  transform: translate(-50%, -50%);
  color:white;
  mix-blend-mode:screen;
}
/*.text{
  background-color: white;
  color: black;
  font-size: 10vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}*/


.workspacebut{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 150%;
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
}
.workspacebut:hover {
  background-color:#ddd;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color:black;
  text-align: center;
}

hr.newline {
  border: 10px solid white;
  border-radius: 5px;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.containerprof{
  padding: 0 16px;
}

.containerprof::after, .row::after {
  content: "";
  clear: both;
  display: table;
  color:white;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color:white;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color:grey;
}
